// ** APP STYLES **

.App {
  width: 100%;
  padding: 2%;
  position: relative;

  section.lowContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media('600px'){
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
