// ** Results styles **
section.resultsCont {
  border: 1px solid #eee;
  padding: 2%;
  background-color: $blue;
  min-height: 50vh;
  width: 48%;

  @include media('600px'){
    width: 100%;
    margin-bottom: 3%;
  }
}
