// ** SEARCH STYLES **
.searchCont {
  border: 1px solid #333;
  padding: 2% 2% 3% 2%;
  width: 100%;

  .ant-space-item{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .ant-input-search{
    width: 100%;
  }

  label{
    font-size: $pSize;
  }

  #searchInput {
    border-width: 1px;
    border-radius: 0;
    font-size: $pSize;
    padding: 5px;
    width: 95%;
  }

  input:focus, button:focus{
    outline:none;
  }

  button.ant-btn {
    padding: 5px;
    font-size: $pSize;
    border-width: 1px;
    border-left: none;
    background-color: lightblue;

    &:hover {
      background-color: blue;
      color: #aaa;
    }
  }
}
