// **** SCSS VARS ****

// ////////////// FONT COLORS ////////////////
$pColor: lightBlue;
$h1Color: #888;
$h2Color: #888;
$h3Color: #888;
$h4Color: #888;
$h5Color: #888;



// ////////////// FONT SIZES ////////////////
$pSize: 2.3rem;
$h1Size: 3rem;
$h2Size: 3rem;
$h3Size: 3rem;
$h4Size: 3rem;
$h5Size: 3rem;