// **** SCSS VARS ****

// ////////////// THEME COLORS ////////////////
$blue: AliceBlue;
$lightBlue: lightBlue;
$green: chartreuse;
$offWhite: #ddd;

// ////////////// FONT COLORS ////////////////
$pColor: #888;
$h1Color: #555;
$h2Color: #888;
$h3Color: #555;
$h4Color: #666;
$h5Color: #888;



// ////////////// FONT SIZES ////////////////
$pSize: 2rem;
$h1Size: 3rem;
$h2Size: 2.8rem;
$h3Size: 2.6rem;
$h4Size: 6rem;
$h5Size: 2.2rem;